.carousel {
    display: flex;
    width: 300px;
    height: 300px;
    z-index: 10;
    position: relative;
    overflow: hidden;

    &__list {
        height: auto;
        display: flex;
        position: relative;
    }

    &__item {
        width: 300px;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__btn {
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 2;
        display: block;

        @include laptop {
            display: none;
        }

        &--prev {
            top: 50%;
            left: 0;
        }

        &--next {
            top: 50%;
            right: 0;
        }
    }
}

.left-enter-active {
    animation: leftInAnimation 0.4s ease-in-out;
}

.left-leave-active {
    animation: leftOutAnimation 0.4s ease-in-out;
}

@keyframes leftInAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes leftOutAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.right-enter-active {
    animation: rightInAnimation 0.4s ease-in-out;
}

.right-leave-active {
    animation: rightOutAnimation 0.4s ease-in-out;
}

@keyframes rightInAnimation {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rightOutAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}