.details {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    @include tablet {
        width: 80%;
        margin: 40px 0 0 0;
    }

    @include laptop {
        width: 40%;
        margin-top: 0;

        &__add {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
        }
    }

    &__company {
        text-transform: uppercase;
        margin: 0;
        color: $orange;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;

        @include laptop {
            font-size: 16px;
        }
    }

    &__title {
        color: $very-dark-blue;

        @include laptop {
            font-size: 45px;
            margin-bottom: 35px;
        }
    }

    &__description {
        font-size: 16px;
        color: $dark-grayish-blue;
        margin: 0;
        line-height: 23px;
    }

    &__price-container {
        margin-top: 25px;
        margin-bottom: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;

        div {
            display: flex;
            align-items: center;
        }

        @include laptop {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__net-price {
        font-size: 27px;
        color: $very-dark-blue;
        margin-right: 1rem;
    }

    &__discount {
        background-color: $pale-orange;
        color: $orange;
        padding: 5px 7px;
        border-radius: 5px;
        font-size: 16px;
    }

    &__price {
        color: $grayish-blue;
        margin-left: auto;
        text-decoration: line-through;

        @include laptop {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &__quantity {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        @include laptop {
            width: 40%;
        }
    }

    &__input {
        width: 100%;
    }

    &__icon-minus,
    &__icon-plus {
        position: absolute;
        cursor: pointer;

        @include laptop {
            transition: opacity 0.1s ease-in-out;

            &:hover {
                opacity: 50%;
            }
        }
    }

    &__icon-minus {
        left: 20px;
        padding: 8px 0;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon-plus {
        right: 20px;
    }

    &__input {
        padding: 15px;
        text-align: center;
        font-size: 16px;
        font-family: $main-font;
        font-weight: 700;
        outline: none;
        background-color: $light-grayish-blue;
        border: none;
        border-radius: 10px;
    }

    &__button {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 40px;
        background-color: $orange;
        padding: 15px;
        color: $white;
        font-family: $main-font;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 15px 20px -10px rgba($orange, 0.5);
        cursor: pointer;

        @include laptop {
            margin: 0;
            width: 55%;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 50%;
            }
        }
    }

    &__icon-cart {
        margin-right: 10px;
        transform: scale(0.8);

        path {
            fill: $white;
        }
    }
}