.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px 25px;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__cart-indicator {
        display: block;
        width: 15px;
        height: 10px;
        top: 0;
        right: 0;
        position: absolute;
        border-radius: 10px;
        background-color: $orange;
        text-align: center;
        font-size: 7px;
        font-weight: 700;
        color: $white;
    }

    &__cart-icon {
        position: relative;
        height: 20px;
        padding-top: 4px;
        padding-right: 3px;
        cursor: pointer;

        &:hover {
            path {
                transition: fill 0.1s ease-in;
                fill: $very-dark-blue;
            }
        }
    }

    &__container {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        @include tablet {
            align-items: center;
        }

        @include laptop {
            gap: 30px;

            &:nth-child(2) {
                padding: 32px 0 32px;
            }
        }
    }

    &__user-image {
        width: 25px;
        border: 1px solid transparent;
        transition: border .1s ease-in;
        border-radius: 50%;

        &:hover {
            border: 1px solid $orange;
        }

        @include tablet {
            width: 35px;
        }

        @include laptop {
            width: 50px;
            cursor: pointer;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $orange;
            }
        }
    }

    @include mobile {
        .hamburger {
            display: block;
        }
    }

    @include tablet {
        padding: 30px;
        border-bottom: 1px solid $grayish-blue;

        .hamburger {
            display: none;
        }
    }

    @include laptop {
        padding: 0;
        margin: 0 10vw;
        width: 80vw;
    }
}