.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: red;
    padding: 15px 20px 25px;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &__cart-indicator {
        display: block;
        width: 15px;
        height: 10px;
        top: 0;
        right: 0;
        position: absolute;
        border-radius: 10px;
        background-color: $orange;
        text-align: center;
        font-size: 7px;
        font-weight: 700;
        color: $white;
    }

    &__cart-icon {
        position: relative;
        height: 20px;
        padding-top: 4px;
        padding-right: 3px;
    }

    &__container {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        @include tablet {
            align-items: center;
        }
    }

    &__user-image {
        width: 20px;

        @include tablet {
            width: 30px;
        }
    }

    @include mobile {
        .hamburger {
            display: block;
        }
    }

    @include tablet {
        padding: 30px;
        border: 1px solid $grayish-blue;

        .hamburger {
            display: none;
        }
    }
}