.product {
    margin-top: 60px;

    @include tablet {
        margin-top: 100px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    @include laptop {
        width: 80%;
        min-height: 85vh;
        padding: 50px 0;
        justify-content: space-around;
    }
}