*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    padding: 0;
    margin: 0;
    background-color: $white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}